.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background-color: red;
  color: rgb(236, 235, 235);
  border-radius: 8px;
  border-color: rgba(185, 185, 184, 0.699);
  box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.06);
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 900;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
}
.add-btn:hover {
  background-color: rgb(255, 255, 0);
  color: #121212;
  transform: scale(1.1);
  transition: 0.3s ease;
}
.add-btn:active {
  background-color: rgba(255, 255, 0, 0.87);
  color: #121212;
}
.page-title h1 {
  color: rgb(56, 55, 55);
  font-style: italic;
}
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
  .page-title h1 {
    font-size: 22px;
  }
  .add-btn {
    width: 80px;
    height: 30px;
  }
}
