@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
:root {
  --primary-red: #dc1717;
  --gold: #ffc107;
  --bright-yellow: #ffeb3b;
  --white: #ffffff;
  --primary-font: rgb(44, 17, 17);
  --glass-bg: rgba(255, 255, 255, 0.8);
}

html,
body {
  max-height: 80vh;
  width: 100%;
  background-color: var(--primary-color);
}
