html {
  scroll-behavior: smooth;
}

:root {
  --primary-red: #dc1717;
  --gold: #ffc107;
  --bright-yellow: #ffeb3b;
  --white: #ffffff;
  --dark-text: #212121;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;

  color: var(--dark-text);
  line-height: 1.6;
}






